 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
}

.header {
  color:#A39E9B;
  width: 100%;
  height: 40px;
  border:#333333;
  border-style: solid;
  background-color: #333333;
  border-width: 2px;
  display: flex;
  align-items: center;
}

.sidetext {
  margin-left: 80px;
  font-size: 12px;
  flex: 1;
 
}

.links {
  
  /* display: inline; */
  float: right;
  margin-right: 100px;
  background-color: #232323;
  height: 30px;
  flex: 1;
  
}

.links a {
  text-align: center;
  float: right;
  color: #827E7C;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 5px;
  
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}



.firstcontent {
  display: flex;
  background-color: #333333;
  height: 150px;
  border: 1px solid;
  padding: 10px;
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.firstcontent h5 {
  color: #F8F8F8; 
  text-align: center; 
  margin-top: 45px;  
  margin-left: 250px;
}

.row {
  display: flex;
 
}

.secondcontent {
  display: flex;
  flex-flow: row wrap;
  background-color:#333333;
  height: 100px;
  border: 1px;
  margin-left: 20px;
}

.row .cont1 .secondcontent {
  margin-left: 0px;

}

.secondcontent h5 {
  color: #F8F8F8;
  text-align: center; 
  /* margin-top: 30px; */
  padding-top: 25px;
  margin-left: 50px;
}





.fourthcontent {
  display: flex;
  
}

.fourthcontent .first{
  background-color: #333333;
  flex: 1;
  color: #F8F8F8;
  order: 1;
  text-align: center;
  height: 150px;
  margin-left: 20px;
  
}

.fourthcontent .second {
  background-color:white;
  flex: 1;
  color: black;


}

.fourthcontent .first h5 {
  margin-top: 50px;
}



.lists {
  background-color: #333333;
  margin-top: 20px;
  display: flex;
  color: #E0E0E0;

}

.lists .firstlist {
  margin-left: 7%;
}

.lists .secondlist, .lists .thirdlist, .lists .fourthlist {
  margin-left: 14%;
}



.lists .firstlist ul li, .lists .secondlist ul li, .lists .thirdlist ul li, .lists .fourthlist ul li {
  font-size:  11px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-bottom: 0.5px solid  #E0E0E0;
  color: #BF7C25;
}



.footer-copyright {
  background-color: #232323;
  height: 30px;
  padding-top: 5px;
  
}

.footetText {
  font-size: smaller;
  color: #575757;
  margin-left: 10%;
}

.footetText a {
  font-size: smaller;
  color: #575757;
  margin-left: 36%;
}

 
/* for phones   */
@media only screen and (max-width: 420px) {
  body {
    background-color: lightblue;
  }

  
.header {
  color:#A39E9B;
  border:#333333;
  border-style: solid;
  background-color: #333333;
  border-width: 2px;
  display: flex;
}
 
  
.sidetext {
  margin-left: 0px;
  font-size: 5px;
  flex: 1;
  
}

  
.header .links {
  margin-right: 0px;
  background-color: #232323;
  
  flex: 3;
  
}

.header .links a {
  font-size: 8px;
  text-align: center;
  float: right;
  color: #827E7C;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 5px;
  
}


.firstcontent {
  display: flex;
  background-color: #333333;
  height: 150px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.firstcontent h5 {
  color: #F8F8F8; 
  text-align: center; 
  margin-top: 45px;  
  margin-left: 40px;
}

.row {
  display: flex;
  flex-direction: column;
  
}

.secondcontent {
  margin-left: 0px;

}

.secondcontent h5 {
  color: #F8F8F8;
  margin-left: 100px;
}

.fourthcontent .first{
  flex: 1;
  color: #F8F8F8;
  order: 1;
  text-align: center; 
  height: 230px;  
}

.fourthcontent .first h5{
  margin-top: 100px;
  
}

.lists .firstlist {
  margin-left: 2%;
}


.lists .secondlist, .lists .thirdlist, .lists .fourthlist {
  margin-left: 1%;
}

.footer-copyright {

  background-color: #232323;
  height: 45px;
}

.footetText {
  /* background-color: #BF7C25; */
  font-size: 10px;
  color: #575757;
  margin-left: 10%;
}



}
 

/* for ipads */
@media only screen and (max-width: 650px ) {
  body {
    background-color: crimson;
  }

  .header {
    color:#A39E9B;
    border:#333333;
    border-style: solid;
    background-color: #333333;
    border-width: 2px;
    display: flex;
    /* justify-content: center; */
  }
   
    
  .sidetext {
    margin-left: 0px;
    font-size: 5px;
    flex: 1;
    
  }
  
    
  .header .links {
    margin-right: 0px;
    background-color: #232323;
    flex: 2;
    
  }
  
  .header .links a {
    margin-right: 15px;
    font-size: 8px;
    text-align: center;
    float: right;
    color: #827E7C;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 5px;
    
  }


  .row {
    display: flex;
    flex-direction: column;
    
  }
  
  .secondcontent {
    margin-left: 0px;
  
  }
  
  .secondcontent h5, .firstcontent h5  {
    color: #F8F8F8;
    margin-left: 40px;
  }
  


  .fourthcontent .first{
    flex: 1;
    color: #F8F8F8;
    order: 1;
    text-align: center; 
    height: 180px;  
  }
  
  .fourthcontent .first h5{
    margin-top: 80px;
    
  }

  .lists .firstlist {
    margin-left: 15%;
  }
  
  
  .lists .secondlist, .lists .thirdlist, .lists .fourthlist {
    margin-left: 5%;
  }

  .footer-copyright {

    background-color: #232323;
    height: 45px;
  }
  
  .footetText {
    /* background-color: #BF7C25; */
    font-size: 10px;
    color: #575757;
    /* margin-left: 6%; */
  }


  

  


}  